#divik {            
	border: 1px solid #707070;  
	width: 700px;
	margin: 0px auto;
	padding: 5px;
	background-color: #EAE3EA;
	text-align: justify;
}



#divik #header {    
	background-color: #85CB67;
	border-radius: 0px;
	margin: -5px -5px 5px -5px;
	padding: 5px 0px 0px 0px;
	height: 25px;
}


#divik div {
	margin-bottom: 20px;		/*внешний отступ снизу*/
	border: 1px solid #707070;
	padding: 20px;
	background-color: white;
	border-radius: 5px;      	/*  округление (радиус) границы  */ 
}

#divik h2 {
	margin: 0px;
}

#divik a:link, #divik a:visited {
	text-decoration: none;
	color: #645067;
}

#divik a:hover{
	text-decoration: none;
	border: 1px solid grey;
	border-radius: 3px;          /*  округление (радиус) границы*/  
}

#divik p {
	margin: 10px 0px;
}

#header p {
	color: white;
	text-align: center;
	margin: 0px 0px;
}

#header p a:link, #header p a:visited {
	color: white;
}

#header p a:hover {
	border: 1px solid white;
}

#divik .ssylka {
	text-align: right;
	padding-right: 20px;
}

img {
	width: 250px;
	float: left;
	border: 1px solid black;
	border-radius: 5px;			 /*  округление (радиус) границы*/ 
	margin: 7px 15px 0px 0px;
}